.footer{
    width: 100%;
    height: 150px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.followus{
    color: white;
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialIcons i{
    font-size: 30px;
    margin: 20px;
    color: white;
    cursor: pointer;
}